.confirmation {
	background: #E5F7E3;
	border: 1px solid #C5E1C8;
	color: #005E20;
	padding: 0.5em;
}

.even {
	background-color: white;
}

.list {
	padding: 1em;
}

.list table {
	background: #E4E4E4;
	border: 1px solid #E4E4E4;
	border-collapse: collapse;
}

.list tr td, .list tr th {
	padding: 0 1em 0 1em;
}

.form table {
	padding-bottom: 1em;
	text-align: left;
}

.odd {
	background-color: #F6F7F8;
}

input[type="text"] {
	width: 100%;
	padding: 0.25em;
}

input[type="password"] {
	width: 100%;
	padding: 0.25em;
}

input[readonly="readonly"] {
	border: 1px solid #aaa;
	background: #eee;
}

textarea {
	padding: 0.25em;
	width: 100%;
}

#err_txt {
	background-color: #FCC;
	border: 1px solid #D77;
	padding: 0.25em;
	margin: 2em 0;
}

h1 {
	text-align: center;
}

body {
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
}
